<div class="container home">

  <div class="photo">
    <a href="/">
      <%= image_tag "me.jpg", class: "img-responsive img-circle me-pic", alt: "Megan Tiu" %>
    </a>
  </div>
  <h1 class="name">Megan Tiu</h1>

  <div class="social-icons">
    <%= link_to image_tag('my_tw2.png'), "http://twitter.com/megandtiu" %>
    <%= link_to image_tag("32px.png"), "http://github.com/megantiu" %>
    <%= link_to image_tag("my_li2.png"), "http://linkedin.com/in/megantiu" %>
    <%= link_to image_tag("email.png"), "mailto:megan@megantiu.com" %>
  </div>

  <div class="description">
    <p>I'm a full-stack web developer in Atlanta, GA currently working for <a href="http://www.fittery.com">Fittery</a>.</p>
  </div>

  <div class="links">
    <%= link_to "about", about_path, class: "link" %>
    <%= link_to "contact", contact_path, class: "link" %>
    <%= link_to "blog", blog_path, class: "link" %>
    <%= link_to "now", now_path, class: "link" %>
  </div>

</div>