= render partial: "static/header.html.haml"
.window.blog
  .row
    .col-xs-12.col-sm-12.col-md-12.blogstream
      %h2.title 5 Most Meaningful Lessons I Learned from Coding Bootcamp
      .post
        %p.date-stamp September 20, 2015
        %a{:href => "http://techtalentsouth.com/student-blog/5-most-meaningful-lessons-i-learned-from-coding-bootcamp/"}
          .small-note Cross-posted to the official Tech Talent South student blog.
        %p.body As the summer draws to a close, I am now finishing up Tech Talent South&#x2019;s summer full-time Code Immersion program. It&#x2019;s been an absolutely amazing 8 weeks and I don&#x2019;t think I could have previously fathomed how much I&#x2019;ve grown and learned in such a short amount of time. If you&#x2019;re thinking of starting a coding bootcamp soon, perhaps here at Tech Talent South, I absolutely recommend it, especially if you&#x2019;re eager to learn new things and want to break into the tech industry. At the risk of sounding like a Buzzfeed-esque listicle, here are some tips from me to you to make your journey as smooth as possible.
        %p.body
          %strong 1. Don&#x2019;t stretch yourself too thin
          = succeed "/" do
            %br/
        %p.body
          %strong 2. Every moment is an opportunity
          = succeed "/" do
            %br/
        %p.body
          %strong 3. Don&#x2019;t underestimate talking it out
          = succeed "/" do
            %br/
          %a{:href => "https://en.wikipedia.org/wiki/Rubber_duck_debugging"} "rubber ducking&#x201D;
          for the first time completely blew my mind. Finally, a phrase for something crucial to my success and sanity! Any time I&#x2019;m stuck on a bug for an extended period of time, sometimes after trying nearly every possible debug route, I always find that talking about the problem out loud, step by step, is the number one way to solve it. Whether the recipient of my babbling is an inanimate object a la the rubber duck or a person that thinks tech-speak is gibberish, the process of describing the code&#x2019;s intentions and contrasting actual results cannot be overvalued. It&#x2019;s also one of the best ways to solve life problems in general.
        %p.body
          %strong 4. Troubleshooting is one of the best skills you can have
          = succeed "/" do
            %br/
        %p.body
          %strong 5. Know when to ask for help
          = succeed "/" do
            %br/
